Source: limnoria
Section: net
Priority: optional
Maintainer: James Lu <glolol@overdrive.pw>
Build-Depends: debhelper (>=9), python3 (>=3.2)
X-Python3-Version: >= 3.2
Standards-Version: 3.9.6

Package: limnoria
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-simplejson, python3-feedparser
Suggests: python3-dateutil, python3-gnupg, python3-sqlalchemy
Conflicts: supybot
Provides: supybot
Replaces: supybot
Section: net
Priority: optional
Homepage: https://github.com/GLolol/Limnoria
Description: Fork of the robust and user-friendly Python IRC bot Supybot.
 It provides several enhancements, such as internationalization and
 embedded HTTP server available to plugins. All plugins written for
 Supybot are still compatible with Limnoria.
 .
 This package installs the Python 3 version of Limnoria.
