#!/usr/bin/make -f
# -*- makefile -*-

override_dh_auto_clean:
	rm -rf build-stamp configure-stamp build/ MANIFEST
	dh_auto_clean

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# Tests don't work with this custom mod yet; it's something on my todo list
	true
